@import "dropdown.css";

h1{
    text-align: center;
    padding-top: 50px;
}


/* Styling the input box */
.input-flex{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
    #item-name{
        width: 70%;
    }


.main-container form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 70%;

}

.conversion-button{
    width: 65%;
    margin: auto;
    margin-top: 10px;
    height: 40px;
}

/* Style the output dropdown menu */
.format-container{
    display: flex;
    margin: auto;

}

    .format-container select{
        margin-left: 5px !important;
    }

    #output-format{
        width: 5em;
        margin: auto
    }

